<div class="col-md-3">
  <ul class="no-bullets">
    <div>
      <li><%= f.input :facebook_permission, label: "Hide your Facebbok link?"  %></li>
    </div>
    
    <div>
      <li><%= f.input :twitter_permission, label: "Hide your Twitter link?"  %></li>
    </div>
    
    <div>
      <li><%= f.input :instagram_permission, label: "Hide your Instagram link?"  %></li>
    </div>
  </ul>
</div>

<div class="col-md-3">
  <ul class="no-bullets">
    <div>
      <li><%= f.input :linkedin_permission, label: "Hide your Linkedin link?"  %></li>
    </div>
    
    <div>
      <li><%= f.input :birthday_permissions, label: "Hide your birthday?"  %></li>
    </div>
    
    <div>
      <li><%= f.input :email_permission, label: "Hide your Email link?"  %></li>
    </div>
  </ul>
</div>