<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  
  <div class="panel-body">
    <div class="form-inputs">
      
      <div class="row">
        <div class="col-md-6">
          <%= f.input :username, required: true, autofocus: true, label: false, 
                placeholder: "Enter your username" %>
        </div>
        
        <div class="col-md-6">
          <%= f.input :email, required: true, label: false, 
                  placeholder: "Enter your email" %>
        </div>
      </div>  
        
      <div class="row">  
        <div class="col-md-3">
          <%= f.input :image, as: :file %>  <%= image_tag @user.image.url(:thumb), 
                      class: "img-circle form-image" %>
        </div>
        
        <div class="col-md-4">
          <%= f.input :age, start_year: 1900, end_year: 2017, order: [:month, :day, :year], 
                      required: false, label: "What is your birthday?" %>
        </div>
        
        <div class="col-md-2">
          <%= f.input :gender, collection: ["Male", "Female", "Other"], include_blank: "Gender",
                      label: "Gender", required: false %>
        </div>
        
        <div class="col-md-3">
          <%= f.input :location, label: "Where are you located?", 
                placeholder: "Share your location" %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <%= f.input :bio, required: false, autofocus: false, label: false, 
                placeholder: "Bio" %>
        </div> 
      </div> 
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
        
        <div class="row">
          <div class="col-md-12">
            <%= f.input :current_password, required: true, label: false,  
                        placeholder: "Enter current password to save changes" %>
          </div>
          
          <div class="col-md-12">
              <%= f.input :password, autocomplete: "off", required: false, label: false,  
                          placeholder: "Change password" %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-10">
              <%= f.input :password_confirmation, required: false, label: false,  
                          placeholder: "Confirm new password" %>
          </div>
          
          <div class="form-actions col-md-2">
            <%= f.button :submit, "Update", class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      
      </div>
    </div>
  <% end %>

  <div class="panel-footer">
    <h3>Cancel my account</h3>
    
    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, 
                    method: :delete, class: 'btn btn-danger btn-xs' %></p>
    
    <%= link_to "Back", :back %>
  </div>
  
</div>
