<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  
  <div class="panel-body">
    <div class="form-inputs">

      <div class="row">
        <div class="col-md-4">
          <%= f.input :username, required: true, autofocus: true, label: false, 
                placeholder: "Enter your username" %>
        </div>
        
        <div class="col-md-4">
          <%= f.input :email, required: true, label: false, 
                      placeholder: "Enter your email" %>
        </div>
        
        <div class="col-md-4 no-bullets">
          <%= f.input :alt_email, required: false, label: false, 
                      placeholder: "Enter an alternate public email" %>
           <li><%= f.input :email_permission, label: "Show your public email?" %></li>
        </div>
      </div>  
      
      <hr>
        
      <div class="row">  
        <div class="col-md-3">
          <%= f.input :image, as: :file, label: "Profile Image" %>
        </div>
        
        <div class="col-md-2">
          <%= image_tag @user.image.url(:thumb), class: "img-circle form-image" %>
        </div>
        
        <div class="col-md-4 no-bullets">
          <%= f.text_field :age, class: 'form-group form-control' %>
          <% if @user.age.present? %>
            <p class="birthday-text">Your Birthday is on <span class="bday"><%= @user.age.strftime("%B %-d, %Y") %></span></p>
          <% else %>
            <p>When were you born?</p> 
          <% end %>
          <li><%= f.input :birthday_permissions, label: "Show your birthday?"  %></li>
        </div>
        
        <div class="col-md-3">
          <%= f.input :gender, collection: ["Male", "Female", "Other"], include_blank: "Gender",
                      label: "Gender", required: false %>
        </div>
      </div>
      
      <hr>
      
      <div class="row">
        <div class="col-md-9">
          <%= f.input :bio, required: false, autofocus: false, label: false, 
                      placeholder: "Bio" %>
        </div>
        
        <div class="col-md-3">
          <%= f.input :location, label: false, 
                placeholder: "Share your location" %>
        </div>
      </div>
      
      <hr>
      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
        
      <div class="row">
        <div class="col-md-3">
          <%= f.input :cover, as: :file, label: "Cover Image" %> 
        </div>
          
        <div class="col-md-3"> <%= image_tag @user.cover.url(:preview), 
              class: "img-rounded text-center" %>
        </div>
          
        <%= render 'devise/registrations/social', f: f %>
      </div> 
      
      <hr>
        
      <div class="row">
        <div class="col-md-4">
          <%= f.input :current_password, required: true, label: false,  
                      placeholder: "Enter current password to save changes" %>
        </div>
        
        <div class="col-md-4">
          <%= f.input :password, autocomplete: "off", required: false, label: false,  
                      placeholder: "Change password" %>
        </div>
        
        <div class="col-md-4">
          <%= f.input :password_confirmation, required: false, label: false,  
                      placeholder: "Confirm new password" %>
        </div>
        </div>
      </div>
    
      <hr>
      
      <div class="row">
        <div class="form-actions col-md-4 col-md-offset-4">
          <%= f.button :submit, "Update", class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>

    <% end %>
   
   
  <div class="panel-footer">
    <h3>Cancel my account</h3>
    
    <p>Unhappy? <span class="btn-delete"><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, 
                    method: :delete, class: 'btn btn-danger btn-xs' %></span></p>
    
    <%= link_to "Back", :back %>
  </div>
   
  </div>
</div>
