<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="text-center">Sign Up</h2>
  </div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="panel-body">
    <div class="form-inputs">
      
      <div class="row">
        <div class="col-md-4">
          <%= f.input :username, required: true, autofocus: true, label: false, 
                placeholder: "Enter a username" %>
        </div>
        
        <div class="col-md-4">
          <%= f.input :email, required: true, label: false, 
                  placeholder: "Enter your email" %>
        </div>
        
        <div class="col-md-4">
          <%= f.input :alt_email, required: false, label: false, 
                  placeholder: "Enter an alternate public email" %>
        </div>
      </div>  
        
      <div class="row">  
        <div class="col-md-3">
          <%= f.input :image, as: :file %>  <%= image_tag @user.image.url(:thumb), 
                      class: "img-circle form-image" %>
        </div>
        
        <div class="col-md-4">
          <%= f.input :age, start_year: 1900, end_year: 2017, order: [:month, :day, :year], 
                      required: false, label: "What is your birthday?" %>
        </div>
        
        <div class="col-md-2">
          <%= f.input :gender, collection: ["Male", "Female", "Other"], 
                      label: "Gender", required: false %>
        </div>
        
        <div class="col-md-3">
          <%= f.input :location, label: "Where are you located?", 
                placeholder: "Share your location" %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <%= f.input :bio, required: false, autofocus: false, label: false, 
                placeholder: "Bio" %>
        </div> 
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <%= f.input :password, autocomplete: "off", required: false, label: false,  
                      placeholder: "Password" %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-10">
              <%= f.input :password_confirmation, required: false, label: false,  
                          placeholder: "Confirm password" %>
          </div>
          
          <div class="form-actions col-md-2">
            <%= f.button :submit, "Sign Up", class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      
      </div>
    </div>
  <% end %>
  
  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>